<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="./css/login.css">
</head>

<body>
  <div class="login-container">
    <h1>Reset Your Password</h1>
    <form action="/forgot_password" method="post" id="forgotPasswordForm">
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" id="name" name="name" placeholder="Enter your username" required>
      </div>
      <div class="form-group">
        <label for="email">Enter your registered email</label>
        <input type="email" id="email" name="email" placeholder="Email Address" required>
      </div>
      <div class="form-group">
        <label for="newpassword">New Password</label>
        <input type="password" id="newpassword" name="newpassword" placeholder="Enter new password" required
          pattern="^(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{6,8}$"
          title="Password must be 6-8 characters long and include at least one special character">
      </div>
      <div class="form-group">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm new password" required>
      </div>
      <button type="submit" class="btn">Reset Password</button>
    </form>

  </div>
  <script src="forgot_password.js"></script>
</body>

</html>