{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Without Password</title>
  <link rel="stylesheet" href="./css/passwordless_login.css">
  <link rel="stylesheet" href="./css/global.css">
</head>

<body>
  <div class="login-container step1">
    <h1>Passwordless Login</h1>
    <form id="passwordlessForm">
      <div class="form-group">
        <h3>Enter your email to receive a login code</h3>
        <input type="email" id="email" name="email" placeholder="Email Address" required>
      </div>
      <button type="submit" class="nextBtn">Next -> </button>
    </form><br>
  </div>

  <div class="login-container step2">
    <h1>Passwordless Login</h1>
    <form id="passwordlessForm">
      <div class="form-group">
        <h3>Enter one-time password</h3>
        <p>A one-time password has been sent to <span id="verifyEmail"></span></p>
        <input type="email" name="email" placeholder="Email Address" required>
      </div>
      <div class="otp-form">
        <p>Enter the 4 digit login code</p>
        <div class="otp-group">
          <input type="number" />
          <input type="number" />
          <input type="number" />
          <input type="number" />
        </div>
        <p>
          Not your email? / Didn't receive the code? <a href="javascript:void(0)">Try Again</a>
        </p>
      </div>
      <button type="submit" class="verifyBtn">Send Login Code</button>
    </form><br>
  </div>

  <div class="login-container step3">
    <h1>Congratulation</h1>
  </div>
  <script src="./js/passwordless_login.js"></script>
</body>

</html> --}}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Without Password</title>
  <link rel="stylesheet" href="./css/passwordless_login.css">
  <link rel="stylesheet" href="./css/global.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
</head>

<body>
  <div class="login-container step1">
    <h1>Passwordless Login</h1>
    <form id="passwordlessForm">
      <div class="form-group">
        <h3>Enter your email to receive a login code</h3>
        <input type="email" id="email1" name="email" placeholder="Email Address" onkeyup="validateEmail(this.value)" required>
      </div>
      <button type="submit" class="nextBtn1">Next &rarr; </button>
    </form><br>
  </div>

  <div class="login-container step2">
    <h1>Passwordless Login</h1>
    <form id="otpForm">
      <div class="form-group">
        <h3>Enter one-time password</h3>
        <p>A one-time password has been sent to <span id="verifyEmail"></span></p>
        <input type="hidden" id="email2" name="email">
      </div>
      <div class="otp-form">
        <p>Enter the 4-digit login code</p>
        <div class="otp-group">
          <input type="number" maxlength="1" class="otp-input" />
          <input type="number" maxlength="1" class="otp-input" />
          <input type="number" maxlength="1" class="otp-input" />
          <input type="number" maxlength="1" class="otp-input" />
        </div>
        <p>
          Not your email? / Didn't receive the code? <a href="javascript:void(0)" id="resendOTP">Try Again</a>
        </p>
      </div>
      <button type="submit" class="verifyBtn">Verify & Login</button>
    </form><br>
  </div>

  <div class="login-container step3">
    <h1>Congratulations</h1>
    <p>You have successfully logged in!</p>
  </div>

  <script src="./js/passwordless_login.js"></script>
</body>
</html>
